h1 {
	display: inline-block;
	position: absolute;
	top: 30px;
	left: 50px;
	font-size: 26px;
}

#header h2 {
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: -80px;
}
a{
	color: #D6D0D0;
}
a:hover{
	color: #A39A9D;
}
a:visited{
	color: #D6D0D0;
}
a.to-index {
	display: inline-block;
	padding: 8px 14px;
	text-decoration: none;
	position: relative;
}
a.to-index .back-arrow {
	position: absolute;
	top: 12px;
	left: 2px;
	width: 10px;
	height: 10px;
	background: transparent url('../img/back-arrow.png') no-repeat 0 0;
	background-size: contain;
	
}
#header {
	background-color: #251D1B;
	width: 100%;
	height: 80px;
	position: absolute;
}
#header-inner {
	position: relative;
	width: 900px;
	margin: auto;
	color: #D6D0D0;
	text-align: left;
}
	#header-inner a {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	}
#wrapper {
	padding-top: 80px;
	background-color: #5F5C63;
}
#slider{
	margin: auto;
	width: 900px;
	padding: 10px;
}
#slider  #slider-content{
	margin: 0 auto;
	width: 560px;
	height: 263px;
	overflow: auto;
	position: relative;
}
#about {
	width: 900px;
	margin: auto;
}
#about p, #content {
	color: #D6D0D0;
	text-indent: 20px;
	text-align: justify;
	font-size: 14pt;
	font-family: Tahoma;
}
#portfolio {
	width: 900px;
	margin: 20px auto;
	color: #D6D6D4;
	font-size: 12pt;
	font-family: Tahoma;
}
	#portfolio ul {
		display: block;
		text-align: center;
	}
	#portfolio ul li {
		width: 295px;
		height: 159px;
		display: inline-block;
		position: relative;
		background-size: contain;
		transform: scale(1);
		transition-property: transform;
		transition-duration: 1s;
		text-align: left;
		margin-bottom: 3px;
	}
		#portfolio ul li.crb {
			background-image: url("../img/med-crb.gif");
			transform-origin: left bottom;
		}
		#portfolio ul li.lr {
			background-image: url("../img/liniaremonta.gif");
			transform-origin: center bottom;
		}
		#portfolio ul li.ckt {
			background-image: url("../img/ckt-med.gif");
			transform-origin: right bottom;
		}
		#portfolio ul li.grabz {
			background-image: url("../img/grabz.gif");
			transform-origin: center bottom;
		}
			#portfolio ul li:hover {
				transform: scale(1.5);
				z-index: 100;
			}
#portfolio tr {
	text-align: center;
}
#portfolio a.button {
	position: absolute;
	bottom: 0;
	background: rgba(95, 92, 99, 0.4);
	padding: 5px 0;
	width: 295px;
	text-align: center;
	color: #D6D0D0;
	text-decoration: none;
	transition-property: all;
	transition-duration: .5s;
	z-index: 100;
	transition-property: color background;
	transition-duration: .5s;
}

#portfolio a.button:hover{
	color: #A39A9D;
	background: rgba(95, 92, 99, 0.8);
}
tr.image td {
	width: 300px;
}
tr img {
	width: 280px;
	height: 159px;
	border: 2px solid #A39A9D;
	border-radius: 5px;
}
#content {
	width: 900px;
	margin: auto;
	position: relative;
}
	.post-anons {
		padding: 10px;
		border-top: dashed 1px grey;
	}
	.post-anons:last-child {
		border-bottom: dashed 1px grey;
	}
	.post-anons h2 {
		font-size: 20px;
		padding-bottom: 5px;
	}
	.post-anons img {
		width: 40px;
		height: 40px;
		float: left;
		padding: 5px;
	}
	.post-anons p {
		padding: 5px;
	}
	.post-anons a {
		display: block;
		text-align: right;
		clear: both;
	}
#content p.ul-name {
	text-decoration: underline;
	font-size: 20px;
	margin-bottom: 20px;
}
#content ul {
	list-style: circle;
	padding-left: 30px;
	padding-bottom: 20px;
}
#content ul li {
	padding-bottom: 10px;
}
#content > img {
	width: 600px;
	height: 340px;
	border: 2px solid #A39A9D;
	border-radius: 5px;
	margin-bottom: 10px;
}
#content p, #content a {
	padding-bottom: 5px;
}
#footer {
	width: 100%;
	height: 40px;
	bottom: 5px;
	background-color: #251D1B;
}
#footer-inner {
	width: 900px;
	margin: auto;
	text-align: left;
	position: relative;
}
#footer-inner .yandex {
	position: absolute;
	right: 0;
	bottom: -20px;
	width: 88px;
	height: 31px;
}